@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  background-image: radial-gradient(rgb(255, 255, 255) 1px, transparent 1px);
  background-size: 32px 32px;
}

#root {
  min-height: 100vh;
}
